<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       "
       >
       <!-- 框架: 解决了共性代码, 并且把可变的参数都会存储XML中 -->
       <!-- spring用来管理bean(类)的创建, 并且可以解决对象的创建 时间、数量、类型问题 -->
       
       
       <!-- 1： spring中默认的bean是单例模式(仅仅创建一次,创建完毕之后对象会被spring缓存)可以通过: scope="prototype" 修改多例
            2： 项目开发中: servlet service dao 都应该是单例模式
            3: spring中只要配置文件一加载,bean就是被创建(饿汉模式), 但是可以通过lazy-init="true" 修改成懒汉模式
            4: 
       -->
       <bean id="product" class="cn.web.model.Product">
       <property name="name" value="小米"></property>
       <property name="id"   value="123"></property>
       <!-- 对于复杂的数据类型，应该采用ref -->
       <property name="date" ref="aaaa"/>
       
       </bean>
       <bean id="aaaa" class="java.util.Date"/>
  </beans>     